.container1{
    background-color: white;
    width: 1440px;
    height: 900px;
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%);
    filter: drop-shadow(0px 0px 4px grey);
}
.container2{
    background-color: white;
    filter: drop-shadow(0px 0px 4px grey);
    width: 720px;
    height: 450px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 30px;
}
.container3{
    background: linear-gradient(hsl(252, 100%, 67%),hsl(241, 81%, 54%));
    width: 360px;
    height: 450px;
    position: absolute;
    border-radius: 30px ;
}
.container4{
    background:linear-gradient(hsla(256, 72%, 46%, 1), hsla(241, 72%, 46%, 0)) ;
    width: 175px;
    height: 175px;
    position: absolute;
    margin-left: 92.5px ;
    margin-top: 100px;
    border-radius: 50%;
    
}
h3{
    position: absolute;
    margin-left: 57%;
    font-size: 30px;
    font-family: 'Hanken Grotesk', 'sans-serif';
    font-weight: 800;
    color: hsl(224, 30%, 27%);
}
.box1{
    background-color: hsla(0, 100%, 67%, 10%) ;
    width: 250px;
    height: 50px;
    position: absolute;
    margin-left: 57%;
    margin-top: 80px;
    border-radius: 12.5px;
}
.box2{
    background-color: hsla(39, 100%, 56%, 10%);
    width: 250px;
    height: 50px;
    position: absolute;
    margin-left: 57%;
    margin-top: 150px;
    border-radius: 12.5px;
}
.box3{
    background-color: hsla(166, 100%, 37%, 10%);
    width: 250px;
    height: 50px;
    position: absolute;
    margin-left: 57%;
    margin-top: 220px;
    border-radius: 12.5px;
}
.box4{
    background-color: hsla(234, 85%, 45%, 10%);
    width: 250px;
    height: 50px;
    position: absolute;
    margin-left: 57%;
    margin-top: 290px;
    border-radius: 12.5px;
}
.reaction{
    margin-top: 13px;
    margin-left: 15px;
    
}
.write1{
    color: hsl(0, 100%, 67%);
    font-family: 'Hanken Grotesk', 'sans-serif';
    font-weight: 500;
    position: absolute;
    font-size: 18px;
    top: -6px;
    right: 55%;
    display: inline-block;

}
.write3{
    color: hsl(0, 100%, 67%);
    font-family: 'Hanken Grotesk', 'sans-serif';
    font-weight: 500;
    position: absolute;
    font-size: 18px;
    top: -6px;
    right: 60%;
    display: inline-block;
}
.write4{
    color: hsl(0, 100%, 67%);
    font-family: 'Hanken Grotesk', 'sans-serif';
    font-weight: 700;
    position: absolute;
    font-size: 18px;
    top: -6px;
    right: 62%;
    display: inline-block;
}
.write2{
    color: hsl(224, 30%, 27%);
    display: inline-block;
    position: absolute;
    top: -5px;
    right: 5%;
    font-size: 18px;
    font-family: 'Hanken Grotesk', 'sans-serif';
    font-weight: 700;
}
.memory{
    margin-top: 13px;
    margin-left: 15px;

}
.button{
    position: absolute;
    bottom: 50px;
    right: 67.5px;

}
.button {
    -webkit-border-radius: 60;
    -moz-border-radius: 60;
    border-radius: 60px;
    font-family: 'Hanken Grotesk', 'sans-serif';
    color: #ffffff;
    font-size: 20px;
    background: hsl(224, 30%, 27%);
    padding: 10px 80px 10px 80px;
    text-decoration: none;
  }
  
  .button:hover {
    background: hsl(252, 100%, 67%);
    background-image: -webkit-linear-gradient(top, hsl(252, 100%, 67%), hsl(241, 81%, 54%));
    background-image: -moz-linear-gradient(top, hsl(252, 100%, 67%), hsl(241, 81%, 54%));
    background-image: -ms-linear-gradient(top, hsl(252, 100%, 67%), hsl(241, 81%, 54%));
    background-image: -o-linear-gradient(top, hsl(252, 100%, 67%), hsl(241, 81%, 54%));
    background-image: linear-gradient(to bottom, hsl(252, 100%, 67%), hsl(241, 81%, 54%));
    text-decoration: none;
  }

.res{
    position: absolute;
    left: 112.5px;
    font-size: 25px;
    color:hsla(221, 100%, 96%, 75%) ;
    font-family: 'Hanken Grotesk', 'sans-serif';
    font-weight: 700;
    top: 15px;

  }
.gr{
    position: absolute;
    font-family: 'Hanken Grotesk', 'sans-serif';
    font-weight: 700;
    font-size: 30px;
    margin-left: 141px;
    bottom: 90px;
    color: hsl(0, 0%, 100%);
}
.text{
    position: absolute;
    font-size: 18px;
    color:hsla(221, 100%, 96%, 75%) ;
    font-family: 'Hanken Grotesk', 'sans-serif';
    font-weight: 700;
    bottom: 20px;
    left: 60px;
    text-align: center;

}
h1{
    position: absolute;
    font-family: 'Hanken Grotesk', 'sans-serif';
    font-weight: 700;
    font-size: 80px;
    color: hsl(0, 0%, 100%);
    left: 45px;
    top: -35px;
}
.lastp{
    position: absolute;
    font-family: 'Hanken Grotesk', 'sans-serif';
    font-weight: 500;
    font-size: 18px;
    color: hsla(221, 100%, 96%, 50%);
    left: 65px;
    top: 100px;
}